---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  return projects.map((project) => ({
    params: { slug: project.data.slug }, 
    props: { project },
  }));
}

// Obtener el proyecto usando `Astro.props`
const { project } = Astro.props;
---

<Layout>
  <article>
    <h2>{project.data.title}</h2>
    <p>{project.data.description}</p>
    <div>
      <h4>Technologías utilizadas:</h4>
      <ul>
        {project.data.techStack.map((tech) => (
          <li>{tech}</li>
        ))}
      </ul>
    </div>
    <a href={project.data.url} target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
  </article>
</Layout>
