---
// src/pages/contacts.astro
import Layout from '../layouts/Layout.astro';
import "../styles/contacts.css";

const title = "Contacto - Sergio Garay";
const description = "Formulario de contacto para comunicarse con Sergio Garay.";
---

<Layout>
  <div class="contact-container">
    <h1 class="title">Contacto</h1>

    <div class="contact-info">
      <p class="info">
        Si deseas ponerte en contacto conmigo, puedes hacerlo a través del formulario abajo o enviando un correo a 
        <a href="sergio7garay@gmail.com">sergio7garay@gmail.com</a>.
      </p>

      <div class="cv-download">
        <p class="info">También puedes revisar mi <a href="/HOJA DE VIDA SERGIO GARAY.pdf" class="cv-link">Hoja de vida</a>.</p>
      </div>

      <div class="map">
        <h3 class="info">Mi Ubicación</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=..."
          width="600"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"></iframe>
      </div>
    </div>

    <div class="contact-form">
        <h2>Formulario de Contacto</h2>
        <form action="https://formsubmit.co/sergio7garay@gmail.com" method="POST">
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="name" required />
     
          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email" name="email" required />
     
          <label for="message">Mensaje:</label>
          <textarea id="message" name="message" rows="4" required></textarea>
     
          <button type="submit" class="submit-button">Enviar Mensaje</button>
        </form>
        <div class="success-message" style="display: none;">
          <p>¡Gracias por tu mensaje! Te responderemos pronto.</p>
        </div>
     </div>
     
     <script>
        if (window.location.hash === '#success') {
          const successMessage = document.querySelector('.success-message') as HTMLElement;
          if (successMessage) {
            successMessage.style.display = 'block';
          }
        }
      </script>
      
     <form action="https://formsubmit.co/sergio7garay@gmail.com" method="POST">
        <!-- Aquí van los campos del formulario -->
        <input type="hidden" name="_next" value="http://tusitio.com/contact#success">
        <input type="hidden" name="_subject" value="Nuevo mensaje desde el formulario de contacto">
        <!-- Campos adicionales como nombre, email, etc. -->
      </form>
      
     
  </div>
</Layout>
