
<footer>
  <p>&copy; 2025 Sergio Garay. Todos los derechos reservados.</p>
  <a href="https://github.com/SergioGaray13">GitHub</a>
</footer>

<style>
  footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
  }
</style>
