---
import NavBar from "./NavBar.astro";
import ProfileImage from "./ProfileImage.astro";
import "../styles/header.css";
---

<header>
  <div class="header-content">
    <ProfileImage src="/images/Perfil.jpeg" alt="Sergio Garay" />

    <div class="nav-section">
      <slot> <!-- Permite cambiar el contenido del título si se necesita -->
        <h1>Mi Portafolio</h1>
      </slot>
      <NavBar />
    </div>
  </div>
</header>