---
import "../styles/navbar.css";
const navLinks = [
  { name: "Inicio", url: "/" },
  { name: "Acerca de", url: "/about" },
  { name: "Contacto", url: "/contacts" },
  { name: "Currículum", url: "/HOJA DE VIDA SERGIO GARAY.pdf" }
];
---

<nav>
  <ul>
    {navLinks.map((link) => (
      <li><a href={link.url}>{link.name}</a></li>
    ))}
  </ul>
</nav>