---
// src/pages/projects/[slug].astro
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import '../../styles/project.css'; //Estilo a los Proyectos de .mdx

// Obtener todos los proyectos desde el contenido
const projects = await getCollection('projects');

// Generar las rutas estáticas para cada proyecto
export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map((project) => ({
    params: { slug: project.data.slug },
  }));
}

const { slug } = Astro.params;

// Buscar el proyecto correspondiente
const project = projects.find((p) => p.data.slug === slug);

if (!project) {
  return Astro.redirect("/404"); // Redirigir si no se encuentra el proyecto
}

const { title, description, techStack, url } = project.data;
---

<Layout>
  <article>
    <h2>{title}</h2>
    <p>{description}</p>
    <div>
      <h4>Technologías utilizadas:</h4>
      <ul>
        {techStack.map((tech) => (
          <li>{tech}</li>
        ))}
      </ul>
    </div>
    <a href={url} target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
  </article>
</Layout>
